/* ### Limpando formatações padrões ### */
* {
	margin 0;
	padding 0;
}

body {
	font-size: 1em;
	font-family: Roboto, sans-serif;
	background: #EEEEE0;
}

/* ### Layout ### */

#area-cabecalho {
	background-color: #87CEEB;
	padding: 20px;
	text-align: center;
}

#area-logo, #area-menu {
	padding: 15px;
}

#area-principal {
	width: 920px;
	margin: 0 auto;
}

#area-postagens, #barra-lateral {
	background: #FFFAFA;
}

#area-postagens {
	width: 660px;
	float: left;
}

#barra-lateral {
	width: 240px;
	float: right;
}

.postagem {
	padding: 15px;
	margin-bottom: 15px;
}

#rodape {
	background: #87CEEB;
	text-align: center;
	padding: 20px;
	clear: both;
}

/* ### Menu ### */
a {
	text-decoration: none;
}

a:link, a:visited {
	color: #FFF;
	padding: 8px 12px;
}

a:hover {
	color: #87CEEB;
	background: #FFF;
}

/* ### Outros elementos ### */
h1 {
	color: #696969;
	font-size: 2.5em;
}

.white {
	color: white;
}