/* ### Limpando formatações padrões ### */
* {
	margin 0;
	padding 0;
}

body {
	font-size: 1em;
	font-family: Roboto, sans-serif;
	background: #EEEEE0;
}

/* ### Layout ### */

#area-cabecalho {
	background-color: #87CEEB;
	padding: 20px;
	text-align: center;
}

#area-logo, #area-menu {
	padding: 15px;
}

/* ### Menu ### */
a {
	text-decoration: none;
}

a:link, a:visited {
	color: #FFF;
	padding: 8px 12px;
}

a:hover {
	color: #87CEEB;
	background: #FFF;
}

/* ### Outros elementos ### */
h1 {
	color: #696969;
	font-size: 2.5em;
}

.white {
	color: white;
}